

<div class="flex flex-col items-center justify-center w-screen h-screen">
    <div class="bg-base-200 shadow-lg p-8 rounded-lg text-center w-2/3 h-2/3 pt-30">
        <h1 class="text-base-content text-4xl">Welcome to Infinity Chat!</h1>
        <p class="text-base-content">A PGP based chat app that encrypts you messages, deletes them after some time, and we don't store private keys</p>
        <p>Get real</p>
        <div class="flex justify-center mt-20">
            <a href="/login" class="btn btn-primary mr-7">Login with private key</a>
            <a href="/register" class="btn btn-secondary">Register with private key</a>
        </div>
    </div>
</div>
    <!-- The compiled JavaScript will be served from /js/index.js -->
    <script type="module" src="../js/home.js"></script>