
<div class="flex flex-col items-center justify-center w-screen h-screen">
    <div class="bg-base-200 shadow-lg p-8 rounded-lg text-center w-1/3 h-2/3">
       <div class="flex flex-col items-center text-base-content text-4xl mb-4">
            <p>Insert profile pic default here</p>
            <p>username: JohnDoe</p>
            <p class="text-base-content text-lg mt-2">This is your profile page.</p>
            <p class="text-base-content text-lg">it will be used to display your profile information. like creation date and public key</p>
       </div>
    </div>
</div>
<!-- The compiled JavaScript will be served from /js/page2.js -->
<script type="module" src="../js/profile.js"></script>

