<div class="flex flex-col items-center justify-center w-screen h-screen relative">
    <!--genrate a box with a button with a choice to go to page a or page b-->
    <div class="bg-base-200 shadow-lg p-8 rounded-lg text-center w-1/3 h-2/3">
        <h1 class="text-base-content text-4xl mb-4">Generate Keys Or Import existing key</h1>
        <p class="text-base-content text-lg mb-4">Choose an option to proceed.</p>
        <div class="flex justify-around mt-8">
            <a href="signup/generate" class="btn btn-primary">Generate Keys</a>
            <a href="signup/import" class="btn btn-secondary">Import Existing Key</a>
        </div>
    </div>
</div>
